
@{
    ViewData["Title"] = "TaskSecond";
}

<h1 style="color:#9ACEEB">Задание №2</h1>

<div>
 <form method="post">

        <p style="color:#9ACEEB">
                    <label>Введите предложение:</label>
                    <input type="text" name="Stroka" />

                </p>

        <p>
            <input style="background-color:#9ACEEB" type="submit" value="Изменить" />

                </p>
        <p style="color:#9ACEEB">
                    <label>Результат:</label>
                    <label>@ViewBag.Result2</label>
          

                </p>

            </form>

        </div>
