
@{
    ViewData["Title"] = "TaskThird";
}

<h1 style="color:#9ACEEB">Задание №3</h1>
<div>
    <form method="post">
        <p style="color:#9ACEEB">
            <label>Введите размерность матрицы(2n):</label>
            <input type="number" name="Number" />

        </p>

        <p>
            <input style="background-color:#9ACEEB" type="submit" value="Вычислить" />

        </p>
        <p style="color:#9ACEEB">
            <label>Результат:</label><br>
            <label>@ViewBag.Result1</label><br>
            <label>@ViewBag.Result2</label><br>
            <label>@ViewBag.Result3</label>
            

        </p>

    </form>

</div>


